.Question1 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 30px;
}

.Question2 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 30px;
}

.Question3 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 30px;
}

.Question4 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 30px;
}

.Question5 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 30px;
}

.Question6 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 30px;
}

.Question7 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 30px;
}
